### Series

In [1]:
import pandas as pd
pd.__version__

'1.4.3'

In [2]:
# Serie

ser = {'index':[0, 1, 2, 3],
       'data':[145, 142, 38, 13],
       'name':'songs'
       }

In [3]:
def get(ser, idx):
    value_idx = ser['index'].index(idx)
    return ser['data'][value_idx]

get(ser, 1)

142

In [4]:
songs = {'index':['Paul', 'John', 'George', 'Ringo'],
         'data':[145, 142, 38, 13],
         'name':'counts'
         }

get(songs, 'John')

142

In [5]:
# importando pandas com apelido pd
import pandas as pd

# definindo serie e armazenando na variavel songs2
songs2 = pd.Series([145, 142, 38, 13],
                   name='counts')

# viz serie
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [6]:
# info da serie(inicio, final, passo)
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
## notes
songs3 = pd.Series([145, 142, 38, 13],
                   name='counts',
                   index=['Paul', 'John', 'George', 'Ringo'])

In [8]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [9]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [10]:
class Foo:
    pass

ringo = pd.Series(
    ['Richard', 'Starkey', 13, Foo()],
    name='ringo')

ringo

0                                        Richard
1                                        Starkey
2                                             13
3    <__main__.Foo object at 0x0000023E45A70A30>
Name: ringo, dtype: object

In [11]:
nan_ser = pd.Series([2, None],
                    index=['Ono', 'Clapton'])
nan_ser

Ono        2.0
Clapton    NaN
dtype: float64

In [12]:
nan_ser.count()

1

In [13]:
import numpy as np

numpy_ser = np.array([145, 142, 38, 13])

print(songs3[1])

print(numpy_ser[1])

142
142

In [14]:
numpy_ser.mean()

84.5

In [15]:
mask = songs3 > songs3.mean()    # boolean array

In [16]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [17]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [18]:
import pandas as pd
import numpy as np

In [19]:
from pandas import *

### FIM