### Series CRUD

In [32]:
import pandas as pd
pd.__version__

'1.4.3'

In [33]:
george_dupe = pd.Series([10, 7, 1, 22],
                        index=['1968', '1969', '1970', '1970'],
                        name='George Songs')

In [34]:
george_dupe

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

In [35]:
g2 = pd.Series({'1969': 7, '1970': [1, 22]},
               index=['1969', '1970', '1970'])

In [36]:
g2

1969          7
1970    [1, 22]
1970    [1, 22]
dtype: object

In [37]:
george_dupe['1968']

10

In [38]:
# may not be a scalar!
george_dupe['1970']

1970     1
1970    22
Name: George Songs, dtype: int64

In [39]:
for item in george_dupe:
    print(item)

10
7
1
22

In [40]:
22 in george_dupe

False

In [41]:
22 in set(george_dupe)

True

In [42]:
22 in george_dupe.values

True

In [43]:
'1970' in george_dupe

True

In [44]:
for item in george_dupe.iteritems():
    print(item)

('1968', 10)
('1969', 7)
('1970', 1)
('1970', 22)

In [45]:
george_dupe['1969'] = 6

In [46]:
george_dupe['1969']

6

In [47]:
george_dupe['1973'] = 11

In [48]:
george_dupe

1968    10
1969     6
1970     1
1970    22
1973    11
Name: George Songs, dtype: int64

In [49]:
george_dupe['1970'] = 2

In [50]:
george_dupe

1968    10
1969     6
1970     2
1970     2
1973    11
Name: George Songs, dtype: int64

In [51]:
george_dupe.iloc[3] = 22

In [52]:
george_dupe

1968    10
1969     6
1970     2
1970    22
1973    11
Name: George Songs, dtype: int64

In [53]:
george_dupe.append(pd.Series({'1974':9}))

C:\Users\Ca√≠que Miranda\AppData\Local\Temp\ipykernel_9060\695287986.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  george_dupe.append(pd.Series({'1974':9}))

1968    10
1969     6
1970     2
1970    22
1973    11
1974     9
dtype: int64

In [54]:
type(george_dupe)

pandas.core.series.Series

In [55]:
del george_dupe['1973']

In [56]:
george_dupe

1968    10
1969     6
1970     2
1970    22
Name: George Songs, dtype: int64

In [59]:
s = pd.Series([2, 3, 4], 
              index=[1, 2, 1])

In [60]:
del s[1]

In [61]:
s

2    3
dtype: int64

In [62]:
george_dupe[george_dupe <= 2]

1970    2
Name: George Songs, dtype: int64

### FIM